.multi-repeating-linear {
  background: repeating-linear-gradient(
      190deg,
      rgba(255, 0, 0, 0.5) 40px,
      rgba(255, 153, 0, 0.5) 80px,
      rgba(255, 255, 0, 0.5) 120px,
      rgba(0, 255, 0, 0.5) 160px,
      rgba(0, 0, 255, 0.5) 200px,
      rgba(75, 0, 130, 0.5) 240px,
      rgba(238, 130, 238, 0.5) 280px,
      rgba(255, 0, 0, 0.5) 300px
    ), repeating-linear-gradient(
      -190deg,
      rgba(255, 0, 0, 0.5) 30px,
      rgba(255, 153, 0, 0.5) 60px,
      rgba(255, 255, 0, 0.5) 90px,
      rgba(0, 255, 0, 0.5) 120px,
      rgba(0, 0, 255, 0.5) 150px,
      rgba(75, 0, 130, 0.5) 180px,
      rgba(238, 130, 238, 0.5) 210px,
      rgba(255, 0, 0, 0.5) 230px
    ), repeating-linear-gradient(23deg, red 50px, orange 100px, yellow 150px, green
        200px, blue 250px, indigo 300px, violet 350px, red 370px);
} 
.difuminado{
background-image: linear-gradient(90deg, #ffffff 0, #ffffff 8.33%, #ffffff 16.67%, #ffffff 25%, #ffffff 33.33%, #ffffff 41.67%, #fffcfc 50%, #e0ebea 58.33%, #c6dcd8 66.67%, #b2cfc7 75%, #a2c4b8 83.33%, #97bcaa 91.67%, #92b59f 100%);}
   body { background: linear-gradient(to bottom, #4E2394, #DBC9F5); margin: 0; height: 100vh; display: flex; justify-content: center; align-items: center; }
   .container{
  margin: auto;
  background-color: white;
  width: 800px;
  padding: 30px;
}

ul, li {
    padding: 0;
    margin: 0;
    list-style: none;
}

ul.slider{
  position: relative;
  width: 800px;
  height: 300px;
}

ul.slider li {
    position: absolute;
    left: 0px;
    top: 0px;
    opacity: 0;
    width: inherit;
    height: inherit;
    transition: opacity .5s;
    background:#fff;
}

ul.slider li img{
  width: 100%;
  height: 300px;
  object-fit: cover;
}

ul.slider li:first-child {
    opacity: 1; /*Mostramos el primer <li>*/
}

ul.slider li:target {
    opacity: 1; /*Mostramos el <li> del enlace que pulsemos*/
}

.menu{
  text-align: center;
  margin: 20px;
}

.menu li{
  display: inline-block;
  text-align: center;
}

.menu li a{
  display: inline-block;
  color: white;
  text-decoration: none;
  background-color: grey;
  padding: 10px;
  width: 20px;
  height: 20px;
  font-size: 20px;
  border-radius: 100%;
}

$arrow: #3c376f;
$bg: #fef8f9;

* {
  box-sizing: border-box;
  &::before, &::after {
    box-sizing: border-box;
  }
}

body {
  margin: 0;
  background: $bg;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 50px;
}

button {
  position: relative;
  display: inline-block;
  cursor: pointer;
  outline: none;
  border: 0;
  vertical-align: middle;
  text-decoration: none;
  background: transparent;
  padding: 20px 5px;
  color: $arrow;
  font-size: 2rem;
}

button span {
  position: relative;
  display: inline-block;
  transform: translateX(0);
  transition: transform 0.3s ease;
}

.previous:hover span {
  transform: translateX(-10px) scale(1.2);
}

.next:hover span {
  transform: translateX(10px) scale(1.2);
}

.slider-nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

.slider-nav li {
  display: flex;
  flex: 2;
  text-align: center;
}

img {
  max-width: 100%;
  display: none;
  box-shadow: 10px 10px 20px 0 rgba(94,47,59,0.2);
}

img.active {
  display: block;
  animation: fadeImg 0.8s;
}

.slider-nav .arrow {
  flex: 0 0 15%;
}

.slider-nav a {
  flex-basis: 100%;
  display: flex;
  align-items: center;
}

.slider-nav span {
  display: block;
  width: 100%;
}

@keyframes fadeImg {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
*,*:after,*:before{
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}->
body{
  font-family: arial;
  font-size: 16px;
  background: #fff;
  margin: 0;
}
img{
  max-width: 100%;
}

.banner_wrapper{
  position: relative;
}
.next_arrow{
  position: absolute;
  right: 0;
  top: 0;
  width: 100px;
  height: 100%;
  z-index: 10;
  pointer-events: none;
  background: url('../images/next.png') center center no-repeat;
  background-size: 60%;
}
.prev_arrow{
  position: absolute;
  left: 0;
  top: 0;
  width: 100px;
  height: 100%;
  z-index: 10;
  pointer-events: none;
  background: url('../images/prev.png') center center no-repeat;
  background-size: 60%;
}
.banner{
  max-width: 100%;
  max-height: 100vh;
  overflow: hidden;
  position: relative;
}
.banner_box{
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: all 0.3s ease-in-out;
}
.banner_box:first-of-type{
  position: relative;
  opacity: 1;
  z-index: 1;
}
input{
  position: absolute;
  right: 0;
  top: 0;
  width: 100px;
  height: 100%;
  cursor: pointer;
  opacity: 0;
}
label{
  position: absolute;
  left: 0;
  top: 0;
  width: 100px;
  height: 100%;
  cursor: pointer;
  opacity: 0;
}
input+input{
  right: auto;
  left: 0;
}
input:first-of-type,
label:first-of-type{
  z-index: 3;
}

input:checked{
  z-index: 0;
}
input:checked + input+label+.banner_box+input{
  z-index: 4
}
input:checked + input+label+.banner_box{
  z-index: 0;
  opacity: 0;
}
input:checked + input+label+.banner_box+input+input+label{
  z-index: 4;
}
input:checked + input+label+.banner_box+input+input+label+.banner_box{
  z-index: 2;
  opacity: 1;
}

input+input:checked + label{
  z-index: 4;
}
input+input:checked + label+.banner_box{
  z-index: 2;
  opacity: 1;
}



.float{
  position:fixed;
  width:60px;
  height:60px;
  bottom:40px;
  right:40px;
  background-color:#25d366;
  color:#FFF;
  border-radius:50px;
  text-align:center;
  font-size:30px;
  box-shadow: 2px 2px 3px #999;
  z-index:100;
}
.float:hover {
  text-decoration: none;
  color: #25d366;
  background-color:#fff;
}

.my-float{
  margin-top:16px;
}
